@{
    ViewData["Title"] = "Study Page";
}
<partial name="_MessageAlert" />
<div class="text-left">
   <ul class="list-group">
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleContent">
                ExampleContent
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleEmpty">
                ExampleEmpty
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleFile">
                ExampleFile
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleForbid">
                ExampleForbid
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleJson">
                ExampleJson
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleStatusCode">
                ExampleStatusCode
            </a>
        </li>
         <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleLocalRedirect">
                ExampleLocalRedirect
            </a>
        </li>
         <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleRedirectResult">
                ExampleRedirectResult
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExamplePartialView">
                ExamplePartialView
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleRedirectToAction">
                ExampleRedirectToAction
            </a>
        </li>
         <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleRedirectToRoute">
                ExampleRedirectToRoute
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="ExampleViewComponent">
                ExampleViewComponent
            </a>
        </li>
        <li class="list-group-item">
            <a  asp-controller="Study" target="_blank" asp-action="View">
                View
            </a>
        </li>
    </ul>
</div>

